html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    font: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 900px;
    height: 550px;
    background-color: rgb(153, 159, 159);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameboard {
    background-color: rgb(121, 149, 149);
    width: 498px;
    height: 498px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
.gameboard > div {
    width: 166px;
    height: 166px;
    background-color: rgb(96, 93, 93);
    border: 0.1px solid white;
}