html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    font: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 480px;
    height: 550px;
    background-image: linear-gradient(0deg, #37474F, #FF8F00);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameboard {
    background-color: rgb(121, 149, 149);
    width: 345px;
    height: 345px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 5px;
}

.gameboard>div {
    width: 115px;
    height: 115px;
    background-color: #455A64;
    border: 0.1px solid #78909C;
    border-radius: 4px;
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 345px;
    margin-top: 10px;
}

.circles>img {
    width: 90px;
    height: 90px;
}

.crosses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 345px;
    margin-bottom: 10px;
}

.crosses>img {
    width: 90px;
    height: 90px;
}